:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;

  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Manrope', sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;
  padding: 2em;
  background: linear-gradient(to bottom right, #42484d, #00c46a, #2d3439);

  display: flex;
  flex-direction: row;
}

/* .modal {
  position: fixed;
  top: 50%;
  left: 50%;
  color: #e8e8e9;
  font-size: 1.75rem;
  transform: translate(-50%, -50%);
  max-width: 70rem;
  background-color: #3c3f41;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}
.modal h3 {
  text-align: center;
}
.btn--close-modal {
  font-family: inherit;
  padding: 0;
  margin: 0;
  color: #00c46a;
  position: absolute;
  top: 0%;
  right: 0%;
  font-size: 30px;
  cursor: pointer;
  border: none;
  background: none;
}
.btn--close-modal:hover {
  color: #3c3f41;
  background-color: #00c46a;
} */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  color: #e8e8e9;
  font-size: 1.75rem;
  text-align: center;
  transform: translate(-50%, -50%);
  max-width: 70rem;
  background-color: #3c3f41;
  padding: 5rem 6rem;
  border-radius: 1rem;
  box-shadow: 0 3.5rem 6rem rgba(0, 0, 0, 0.6);
  z-index: 1000;
  opacity: 0; /* Start with 0 opacity */
  animation: fadeIn 0.5s ease-in-out forwards; /* Apply the fade-in animation */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn--close-modal {
  font-family: inherit;
  padding: 0;
  margin: 0;
  color: #00c46a;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 4rem;
  /* Adjust the font size as needed */
  cursor: pointer;
  border: none;
  background: none;
  display: flex;
  /* Align the symbol both horizontally and vertically */
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  /* Adjust the width to make it look like a square */
  height: 2.5rem;
  /* Adjust the height to make it look like a square */
}

.btn--close-modal:hover {
  background-color: #00c46a;
  color: #3c3f41;
  border-radius: 0.1rem;
}

.hidden {
  display: none;
}

/* GENERAL */
a:link,
a:visited {
  color: var(--color-brand--1);
}

/* SIDEBAR */
.sidebar {
  flex-basis: 56.75rem;
  background-color: var(--color-dark--1);
  padding: 3rem 5rem 4rem 5rem;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  box-shadow: 0 1.5rem 10rem rgba(14, 14, 14, 0.8);
}

#map {
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  box-shadow: 10rem 1.5rem 10rem rgba(0, 0, 0, 0.4);
  flex: 1;
  height: 100%;
  background-color: var(--color-light--1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 5.2rem;
  align-self: center;
  margin-bottom: 4rem;
}

.handle-workout {
  display: flex;
  justify-content: space-between;
}

.handle-workout--sort {
  width: 18em;
  margin-right: 5em;
}

.handle-workout--type {
  width: 13em;
}

.workouts {
  list-style: none;
  height: 77vh;
  overflow-y: scroll;
}

.workouts::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

.workouts::-webkit-scrollbar-track {
  border-radius: 10vw;
  scroll-behavior: smooth;
}

.workouts::-webkit-scrollbar-thumb {
  background: #00c46a;
  border: 1.25em solid #00c46a;
  border-radius: 10vw;
}

.workout--running {
  border-left: 5px solid var(--color-brand--2);
}

.workout--cycling {
  border-left: 5px solid var(--color-brand--1);
}

/* .workout {
            background-color: var(--color-dark--2);
            border-radius: 5px;
            padding: 1.5rem 2.25rem;
            margin-bottom: 1.75rem;
            cursor: pointer;

            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 0.75rem 1.5rem;
        }

        .workout--running {
            border-left: 5px solid var(--color-brand--2);
        }

        .workout--cycling {
            border-left: 5px solid var(--color-brand--1);
        }

        .workout__title {
            font-size: 1.7rem;
            font-weight: 600;
            grid-column: 1 / -1;
        }

        .workout__details {
            display: flex;
            align-items: baseline;
        }

        .workout__icon {
            font-size: 1.8rem;
            margin-right: 0.2rem;
            height: 0.28rem;
        }

        .workout__value {
            font-size: 1.5rem;
            margin-right: 0.5rem;
        }

        .workout__unit {
            font-size: 1.1rem;
            color: var(--color-light--1);
            text-transform: uppercase;
            font-weight: 800;
        } */

/* .workout {
            background-color: var(--color-dark--2);
            border-radius: 5px;
            padding: 1.5rem 2.25rem;
            margin-bottom: 1.75rem;
            cursor: pointer;

            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 0.75rem 1.5rem;
        } */
.workout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  cursor: pointer;
  margin-bottom: 1.75rem;
  /* First column auto, second column 1fr */
  gap: 0.75rem 1.75rem;
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.25rem 2.25rem;
}

.workout__title {
  grid-column: 1/ -1;
  font-size: 1.7rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.edit-btn {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 20px;
}

.btn-secondary {
  background-color: transparent;
  border: none;
}

.btn-secondary:hover {
  background-color: transparent;
  border: none;
}

.btn-group {
  position: relative;
}
.dropdown-menu {
  font-size: 1.4rem;
  padding: 0.5em;
  border: none;
  line-height: 1.5;
  font-weight: bolder;
  box-shadow: 0 0.1em 1.6em 0 rgba(107, 105, 105, 0.5);
  background-color: var(--color-dark--1);
  border-radius: 1.3em;
}

.dropdown-menu li a {
  color: white;
}

.dropdown-menu li a:hover {
  background-color: rgb(163, 163, 163, 0.5);
  color: var(--color-light--2);
  border-radius: 10px;
}

.edit-icon {
  margin: 0;
  width: 24px;
  height: 2.8rem;
  padding: 0.5rem;
  border-radius: 0.5em;
}

.fa-trash {
  margin-left: 1rem;
}

.edit-icon:hover {
  background-color: var(--color-dark--1);
  color: #2d3439;
}

.edit-workout {
  margin-bottom: 0.45em;
}

.edit-workout,
.delete-workout {
  font-size: 1.3rem;
  display: flex;
  justify-content: space-evenly;
}

.workout__details {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.workout__details:last-child {
  margin-left: auto;
}

.workout__icon {
  font-size: 1.8rem;
  margin-right: 0.2rem;
  height: 0.28rem;
}

.workout--cycling .workout__details .workout__value {
  margin-left: 0.2rem;
}

.workout__value {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.workout__unit {
  font-size: 1.1rem;
  color: var(--color-light--2);
  text-transform: uppercase;
  font-weight: 800;
}
.form .form__title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column: 1;
  grid-row: span 1/2;
}
.form .form__btn-close {
  background-color: transparent;
  border: none;
  border-radius: 0.4em;
  font-size: 2.5rem;
  width: 25px;
}
.form__btn-close:hover {
  background-color: #2d3439;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(190, 185, 185, 0.2);
  backdrop-filter: blur(3px);
  z-index: 999;
}

.form {
  border-radius: 5px;
  padding: 1.5rem 2.75rem;
  margin-bottom: 1.75rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 0.5rem 2.5rem;
  background-color: var(--color-dark--2);
  /* Match height and activity boxes */
  height: 15rem;
  transition: all 0.5s, transform 1ms;
}

.form__row:nth-child(-n + 1) {
  grid-column: span 2; /* Span 2 columns for the first three items */
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #00c46a;
  margin-bottom: 1em;
}

.form__title {
  font-size: 1.9rem;
  font-weight: bold;
  margin-left: 7.5em;
}

.form.hidden {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}

.form__row {
  display: flex;
  align-items: center;
}

.form__row--hidden,
.hidden {
  display: none;
}

.form__label {
  flex: 0 0 50%;
  font-size: 1.5rem;
  font-weight: 600;
}

.form__input {
  width: 100%;
  padding: 0.3rem 1.1rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  border-radius: 3px;
  background-color: hsl(0, 0%, 61%);
  color: #e8e8e9;
  font-weight: 900;
  transition: all 0.2s;
}

.handle-button {
  display: flex;
  gap: 5.5rem;
  justify-content: flex-end;
  margin-top: 2.5rem;
}

.handle-workout .form__input {
  background-color: var(--color-dark--2);
  box-shadow: 0.25rem 0.75rem 3rem rgba(10, 10, 10, 0.4);
}

.handle-workout .form__input--value {
  background-color: var(--color-dark--2);
}

.form__input:focus {
  outline: none;
}

.form__btn-modal:hover {
  opacity: 0.8;
}

.form__btn-modal span {
  margin-right: 1rem;
}
.form__btn-modal {
  border-style: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
  margin-right: 1rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5em;
}
.delete-all {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 20px;
}

.fa-trash-can {
  color: #8b8b8b;
}

.fa-trash-can:hover {
  color: #adadad;
}

.form__input--value {
  background-color: #8b8b8b;
  font-weight: 900;
}

.form__btn {
  display: none;
}

/* MAP */

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}

.running-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--2);
}

.cycling-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--1);
}
.workout__error {
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
}
.spinner {
  display: block;
  width: 100px;
  height: 100px;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1100px) {
  .sidebar {
    width: 35%;
  }
  .form .form__title {
    margin-left: 6.2em;
  }
}

@media only screen and (max-width: 1000px) {
  body {
    padding: 1em;
  }
  .sidebar {
    max-width: 60%;
    padding: 2em 1.5em;
  }
  .modal {
    width: 35em;
  }
}
@media only screen and (max-width: 748px) {
  /* Styles to apply when the screen width is 768 pixels or less */
  body {
    flex-direction: column;
    padding: 1.5em;
  }
  .modal {
    width: 30em;
    padding: 3em 1.5em;
  }
  .sidebar {
    min-height: 45%;
    min-width: 100%;
    border-radius: 0;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }
  .workout__error {
    font-size: 1.5rem;
  }
  .form .form__title {
    margin-left: 9.5em;
  }
  .workouts {
    height: 50vh;
  }
  #map {
    min-height: 30%;
    border-radius: 0;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
  }

  .leaflet-popup .leaflet-popup-content-wrapper {
    background-color: var(--color-dark--1);
    color: var(--color-light--2);
    border-radius: 5px;
    padding-right: 0.1em;
  }

  .leaflet-popup .leaflet-popup-content {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 588px) {
  body {
    padding: 0em;
  }
  .modal {
    width: 20em;
    padding: 2em 1.5em;
  }
  .btn--close-modal {
    font-size: 3rem;
  }
  .modal h3 {
    font-size: 1.65rem;
    font-weight: 600;
  }
  .modal h4 {
    font-size: 1.25rem;
  }
  .sidebar,
  #map {
    border-radius: 0;
  }
  .spinner {
    width: 60px;
    height: 60px;
  }
  .sidebar {
    padding: 3em 1.5em;
  }
  .workout {
    margin-bottom: 1em;
  }
  .logo {
    width: 7em;
    height: 4rem;
  }
  .handle-workout--sort {
    width: 45%;
  }
  .handle-workout--type {
    width: 26%;
  }
  .handle-workout--sort .form__label,
  .handle-workout--type .form__label,
  .handle-workout--sort__input,
  .handle-workout--type__input {
    font-size: 1.25rem;
  }
  .delete-all {
    font-size: 1.5rem;
  }
  .form {
    font-size: 1rem;
  }
  .form .form__title {
    display: flex;
    font-size: 1.5rem;
    margin-left: 8.2em;
  }
  .form .form__label,
  .form .form__input,
  .form .form__input--value {
    font-size: 1.2rem;
  }
  .form .form__btn-close {
    font-size: 2rem;
  }
  .workout__icon,
  .workout__value,
  .workout__unit {
    font-size: 1.2rem;
  }
  .workout__title {
    font-size: 1.5rem;
  }
  .workout__unit {
    font-weight: 600;
  }
  .workout {
    padding: 1em 1em;
  }
  .workout--cycling .workout__details .workout__value {
    margin-left: 0.1rem;
  }
  .workouts::-webkit-scrollbar {
    width: 0.3em;
    height: 0.5em;
  }

  .workouts::-webkit-scrollbar-track {
    border-radius: 5vw;
    scroll-behavior: smooth;
  }

  .workouts::-webkit-scrollbar-thumb {
    background: #00c46a;
    border: 1.25em solid #00c46a;
    border-radius: 10vw;
  }
  .edit-icon {
    margin: 0;
    font-size: 1.5rem;
    height: 2.5rem;
    padding: 0.3em;
  }
  .edit-workout,
  .delete-workout {
    font-size: 1rem;
  }
  .dropdown-menu {
    padding: 0.4em 0.25em;
    border-radius: 0.8em;
  }
  .dropdown-menu li a:hover {
    border-radius: 1em;
  }
}
@media only screen and (max-width: 480px) {
  .form .form__title {
    margin-left: 6.5em;
  }
}
